<p class="square"><%= @question.capitalize %></p>
<p class="square">- You</p>
<p class="square"><%= @answer.capitalize %></p>
<p class="square">- Your coach</p>

<div id="back">
  <%= link_to "Ask a new question", ask_path %>
</div>